testutils/src/main/resources/schema/hello.xsd

<schema targetNamespace="http://mule.org/hello_world"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://mule.org/hello_world"
  elementFormDefault="qualified">

  <element name="sayHi">
    <complexType />
  </element>

  <element name="sayHiResponse">
    <complexType>
      <sequence>
        <element name="response" type="string" />
      </sequence>
    </complexType>
  </element>

</schema>