testutils/src/main/resources/schema/test.xsd

<schema xmlns:tns="http://www.example.org/test/" 
        xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.example.org/test/">
    <element name="testElement" type="string"/>
    
    <attributeGroup name="testAttributeGroup">
    
    </attributeGroup>
    
    <complexType name="testComplexType">
    </complexType>
    
    <group name="testGroup">
    </group>
</schema>
