core/src/main/resources/META-INF/galaxy-plugins-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.mulesource.org/schema/galaxy-plugins"
           xmlns="http://www.mulesource.org/schema/galaxy-plugins"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="galaxy-plugins" type="galaxyPluginsType">
         <xs:annotation>
            <xs:documentation>A Galaxy plugin file can contain one or more galaxy-plugin elements. A Galaxy plugin
                defines how the Galaxy server can index and manage an artifact. An artifact can be anything from an Xml
                file text file Jar or other binary format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="galaxyPluginsType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="galaxy-plugin" type="galaxyPluginType">
                <xs:annotation>
                    <xs:documentation>A Galaxy plugin defines Indexes, views and policies that apply to an artifact managed by
                        Galaxy. There is on plugin per artifact. For example The plug in for Mule 1 configuration files defines
                        a set of indexes that a Mule configuration can be queriesd on, a set of polices that will get applied
                        to Mule configurations managed by Galaxy and a 'view' that defines how the artifact gets deployed in
                        the Galaxy web interface.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="galaxyPluginType">
        <xs:sequence>
            <xs:element type="xs:string" name="name">
                <xs:annotation>
                    <xs:documentation>The name of the plugin</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="description">
                <xs:annotation>
                    <xs:documentation>A description of what the plugin does</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="content-type">
                <xs:annotation>
                    <xs:documentation>The content type of the artifact associated with this plugin</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="small-icon" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A small icon 16x16 pixels (gif, png) associated with this artifact
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="large-icon" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A small icon 32x32 pixels (gif, png) associated with this artifact
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="namespaceType" name="namespace" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The namespace for this plugin. At least a local name should be used. If the
                        artifact associated with this plugin is an XML schema or DTD the same namespace should be used
                        for the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="indexesType" name="indexes" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A set of indexes that define the critera that the artifact can be searched on.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="viewsType" name="views" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A set of views that describe how the artifact will be represented in the Galaxy
                        admin interface.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="policiesType" name="policies" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A set of policies that will be applied to artifacts associated with this plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="indexesType">
        <xs:sequence>
            <xs:element type="xs:string" name="notes" minOccurs="0" maxOccurs="1"/>
            <xs:element type="indexType" name="index" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="indexType">
        <xs:sequence>
            <xs:element name="field-name" type="xs:NMTOKEN"/>
            <xs:element name="display-name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="language" type="languagesType"/>
            <xs:element name="search-input-type" type="xs:NMTOKEN"/>
            <xs:element name="expression" type="xs:string"/>
            <xs:element name="namespace" type="namespaceType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="policiesType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="xs:string" name="notes" minOccurs="0" maxOccurs="1"/>
            <xs:element type="policyType" name="policy"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewsType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="xs:string" name="notes" minOccurs="0" maxOccurs="1"/>
            <xs:element type="viewType" name="view"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="namespaceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="local-name" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <!--<xs:element name="prefix" type="xs:string" maxOccurs="1" minOccurs="0"/>-->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="policyType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:NMTOKEN" name="class"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="columnType" name="column"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="expression"/>
        </xs:sequence>
        <xs:attribute name="column" type="xs:int"/>
        <xs:attribute name="summary" type="xs:boolean" default="true"/>
        <xs:attribute name="detail" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:simpleType name="languagesType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="XQUERY"/>
            <xs:enumeration value="XPATH"/>
            <xs:enumeration value="GROOVY"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>