core/src/main/resources/META-INF/galaxy-plugin-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
           targetNamespace="http://www.mulesource.org/schema/galaxy-plugin"
           xmlns="http://www.mulesource.org/schema/galaxy-plugin"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>-->

    <xs:element name="galaxy-plugin" type="galaxyPluginType" />

    <xs:complexType name="columnType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:NMTOKEN" name="index-field"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="languagesType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="XQUERY"/>
            <xs:enumeration value="XPATH"/>
            <xs:enumeration value="GROOVY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="galaxyPluginType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:NMTOKEN" name="class"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:string" name="content-type"/>
            <xs:element type="xs:string" name="small-icon"/>
            <xs:element type="xs:string" name="large-icon"/>
            <xs:element type="namespaceType" name="namespace"/>
            <xs:element type="indexesType" name="indexes"/>
            <xs:element type="viewsType" name="views"/>
            <xs:element type="policiesType" name="policies"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="indexesType">
        <xs:sequence>
            <xs:element type="indexType" name="index" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="indexType">
        <xs:sequence>
            <xs:element name="field-name" type="xs:NMTOKEN"/>
            <xs:element name="display-name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="language" type="languagesType"/>
            <xs:element name="search-input-type" type="xs:NMTOKEN"/>
            <xs:element name="expression" type="xs:string"/>
            <xs:element name="namespace" type="namespaceType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="policiesType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="policyType" name="policy"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewsType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="viewType" name="view"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="namespaceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="local-name" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="prefix" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="policyType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:NMTOKEN" name="class"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viewType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="columnType" name="column"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>