core/src/main/resources/META-INF/galaxy-lifecycles.xsd

<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://galaxy.mule.org/lifecycle"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  targetNamespace="http://galaxy.mule.org/lifecycle" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  
  <xsd:element name="lifecycles">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="lifecycle" type="lifecycleType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="lifecycleType">
    <xsd:sequence>
      <xsd:element name="phase" type="phaseType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="initialPhases" type="xsd:NMTOKENS"/>
  </xsd:complexType>
  
  
  <xsd:complexType name="phaseType">
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="nextPhases" type="xsd:NMTOKENS"/>
  </xsd:complexType>
  
  
</xsd:schema>